

.log_out{
  float:right;
}
.card-title-md{
  font-size: 1.8rem;
}
.log_text{
  font-size:12px;
  padding:5px;
}

strong {
  font-weight: bold;
  font-size: 16px;
}
ion-col.md.hydrated {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
